
.circleSw-1 {

    width: 100vh;
    height: 100vh;
    border-radius: 100%;
}

.circleSw-2 {

    width: 120vh;
    height: 120vh;
    border-radius: 100%;
}

.circleSw-3 {

    width: 140vh;
    height: 140vh;
    border-radius: 100%;
}
